@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SN Pro", sans-serif;
}

body {
  background-color: #f0f0f0;
  color: #333;
}

.header {
    width: 100%;
    height: 80px;
  background-color: #41403d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 0;
    color: white;
    z-index: 12;
}

.header .search-box input {
    outline: none;
    border: none;
    width: 350px;
    height: 30px;
    font-size: 1.2rem;
    padding: 0 10px;
    border-radius: 20px;
}

.container {
    width: 100%;
    display: flex;
    margin: 100px auto;
}

.animeInfo {
    width: 320px;
    height: 100%;
    background-color: #f9f6ee;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
}

.anime-row {
    display: flex;
    flex-direction: column;
}

.anime-row .row {
    display: inline-flex;
    gap: 20px;
    margin-left: 20rem;
}

.anime-row .text-heading {
    margin-left: 20rem; ;
    margin-top: 1rem;
}

.card {
    width: 230px;
    height: 300px;
    padding: 0 0 1rem 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    overflow: hidden;
    position: relative;
}

.card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.anime-content {
    padding: 40px;
    margin: 80px 0;
}

.anime-content img {
    width: 150px
}